In [ ]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

from warnings import filterwarnings
filterwarnings('ignore')

In [ ]:
df = pd.read_csv(r'E:\Python\EDA\Diwali_Sales_Analysis\Diwali.csv', encoding = 'unicode_escape')

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df.isna().sum()

In [ ]:
df.duplicated().sum()

In [ ]:
df.drop(['User_ID','Status', 'unnamed1'], axis = 1, inplace = True)

In [ ]:
df.head()

In [ ]:
df['Amount'].fillna(df['Amount'].mean(), inplace = True)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df['Age Group'].replace({'0-17': 'Young', '18-25' : 'Adult', '26-35': 'Adult', '36-45':'Middle_Age', '46-50': 'Middle_Age', '51-55':'Middle_Age', '55+': 'Senior'}, inplace=True)

In [ ]:
df['Age Group'].unique()

In [ ]:
df['Gender'].unique()

In [ ]:
df['Gender'].replace({'F':'Female','M':'Male'},inplace=True)

In [ ]:
df.describe(include=['object']).T

In [ ]:
df.describe().T

In [ ]:
cat_col = df.select_dtypes(include = 'object').columns
num_col = df.select_dtypes(include=np.number).columns.tolist()
print(num_col)
print(cat_col)

In [ ]:
for i in num_col:
    print(i)

    plt.figure(figsize=(12,5))
    plt.subplot(1,2,1)
    sns.histplot(x=df[i], bins =10, edgecolor = 'black', kde = True, alpha = 0.25, color='Red')
    
    plt.ylabel('Frequency')

    plt.subplot(1,2,2)
    sns.boxplot(x = df[i])

    plt.tight_layout()
    plt.show()

In [ ]:
for i in cat_col:
    print(i)

    plt.figure(figsize=(10,5))
    sns.countplot(x = i, data =df, order= df[i].value_counts().head(10).index, palette= 'pastel')
    plt.xticks(rotation = 90)
    plt.title(i, fontsize =10, fontweight = 'bold')
    plt.ylabel('Count')
    plt.show()

In [ ]:
df['Product_Category'].value_counts()

In [ ]:
df['Product_ID'].value_counts().head(10)

In [ ]:
df['Product_ID'].value_counts().tail(10)

In [32]:
a = df['Product_ID'].value_counts().reset_index()
a

     Product_ID  count
0     P00265242     53
1     P00110942     44
2     P00184942     37
3     P00237542     35
4     P00112142     34
...         ...    ...
2346  P00326042      1
2347  P00255342      1
2348  P00347942      1
2349  P00273642      1
2350  P00035742      1

[2351 rows x 2 columns]

In [33]:
a[a['count']==1].count()

Product_ID    630
count         630
dtype: int64

In [34]:
total_orders = df.groupby('Product_ID')['Orders'].sum()
total_orders.sort_values(ascending =False).head(10)

Product_ID
P00265242    127
P00110942    116
P00237542     91
P00184942     82
P00114942     79
P00025442     79
P00117942     76
P00145042     76
P00044442     75
P00110842     74
Name: Orders, dtype: int64