In [2]:
pip install mysql.connector.python

Collecting mysql.connector.pythonNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading mysql_connector_python-9.0.0-cp312-cp312-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp312-cp312-win_amd64.whl (14.3 MB)
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB 393.8 kB/s eta 0:00:37
   ---------------------------------------- 0.1/14.3 MB 1.1 MB/s eta 0:00:13
   - -------------------------------------- 0.4/14.3 MB 2.4 MB/s eta 0:00:06
   - -------------------------------------- 0.5/14.3 MB 2.7 MB/s eta 0:00:06
   -- ------------------------------------- 0.8/14.3 MB 3.4 MB/s eta 0:00:05
   --- ------------------------------------ 1.1/14.3 MB 3.7 MB/s eta 0:00:04
   --- ------------------------------------ 1.3/14.3 MB 3.9 MB/s eta 0:00:04
   --- ------------------------------------ 1.4/14.3 MB 3.9 MB/s eta 0:00:04
   ---- ----------------------------------- 1.5/14.3 MB 3.5 MB/s eta 0:00:04
   ---- ----------------------------------- 1.7/14.3 MB 3.6 MB/s eta 0:00:04
   ----- ---------------------------------- 2.0/14.3 MB 3.9 MB/s eta 0:00:04
   ------ --------------------------------- 2.3/14.3 MB 4.0 MB/s eta 0:00:04
   ------- -------------------------------- 2.5/14.3 MB 4.2 MB/s eta 0:00:03
   ------- -------------------------------- 2.8/14.3 MB 4.3 MB/s eta 0:00:03
   -------- ------------------------------- 3.1/14.3 MB 4.4 MB/s eta 0:00:03
   --------- ------------------------------ 3.3/14.3 MB 4.4 MB/s eta 0:00:03
   ---------- ----------------------------- 3.6/14.3 MB 4.5 MB/s eta 0:00:03
   ---------- ----------------------------- 3.9/14.3 MB 4.6 MB/s eta 0:00:03
   ----------- ---------------------------- 4.1/14.3 MB 4.6 MB/s eta 0:00:03
   ------------ --------------------------- 4.4/14.3 MB 4.8 MB/s eta 0:00:03
   ------------ --------------------------- 4.6/14.3 MB 4.8 MB/s eta 0:00:03
   ------------- -------------------------- 4.9/14.3 MB 4.8 MB/s eta 0:00:02
   -------------- ------------------------- 5.1/14.3 MB 4.8 MB/s eta 0:00:02
   --------------- ------------------------ 5.4/14.3 MB 4.9 MB/s eta 0:00:02
   --------------- ------------------------ 5.7/14.3 MB 5.0 MB/s eta 0:00:02
   ---------------- ----------------------- 6.0/14.3 MB 5.1 MB/s eta 0:00:02
   ----------------- ---------------------- 6.2/14.3 MB 5.0 MB/s eta 0:00:02
   ----------------- ---------------------- 6.3/14.3 MB 5.0 MB/s eta 0:00:02
   ----------------- ---------------------- 6.3/14.3 MB 5.0 MB/s eta 0:00:02
   ----------------- ---------------------- 6.3/14.3 MB 5.0 MB/s eta 0:00:02
   ------------------ --------------------- 6.8/14.3 MB 4.8 MB/s eta 0:00:02
   -------------------- ------------------- 7.2/14.3 MB 5.0 MB/s eta 0:00:02
   -------------------- ------------------- 7.2/14.3 MB 5.0 MB/s eta 0:00:02
   -------------------- ------------------- 7.2/14.3 MB 4.6 MB/s eta 0:00:02
   ---------------------- ----------------- 7.9/14.3 MB 4.9 MB/s eta 0:00:02
   ---------------------- ----------------- 8.2/14.3 MB 4.9 MB/s eta 0:00:02
   ----------------------- ---------------- 8.4/14.3 MB 4.9 MB/s eta 0:00:02
   ----------------------- ---------------- 8.6/14.3 MB 4.9 MB/s eta 0:00:02
   ------------------------ --------------- 8.8/14.3 MB 4.9 MB/s eta 0:00:02
   ------------------------- -------------- 9.0/14.3 MB 4.9 MB/s eta 0:00:02
   ------------------------- -------------- 9.2/14.3 MB 4.9 MB/s eta 0:00:02
   -------------------------- ------------- 9.5/14.3 MB 4.9 MB/s eta 0:00:01
   --------------------------- ------------ 9.7/14.3 MB 4.9 MB/s eta 0:00:01
   --------------------------- ------------ 10.0/14.3 MB 5.0 MB/s eta 0:00:01
   ---------------------------- ----------- 10.3/14.3 MB 5.2 MB/s eta 0:00:01
   ----------------------------- ---------- 10.5/14.3 MB 5.2 MB/s eta 0:00:01
   ------------------------------ --------- 10.8/14.3 MB 5.2 MB/s eta 0:00:01
   ------------------------------ --------- 11.1/14.3 MB 5.2 MB/s eta 0:00:01
   ------------------------------- -------- 11.3/14.3 MB 5.2 MB/s eta 0:00:01
   -------------------------------- ------- 11.6/14.3 MB 5.3 MB/s eta 0:00:01
   -------------------------------- ------- 11.8/14.3 MB 5.4 MB/s eta 0:00:01
   --------------------------------- ------ 12.1/14.3 MB 5.4 MB/s eta 0:00:01
   ---------------------------------- ----- 12.3/14.3 MB 5.4 MB/s eta 0:00:01
   ----------------------------------- ---- 12.6/14.3 MB 5.5 MB/s eta 0:00:01
   ----------------------------------- ---- 12.7/14.3 MB 5.3 MB/s eta 0:00:01
   ----------------------------------- ---- 12.9/14.3 MB 5.4 MB/s eta 0:00:01
   ------------------------------------ --- 13.2/14.3 MB 5.3 MB/s eta 0:00:01
   ------------------------------------- -- 13.4/14.3 MB 5.3 MB/s eta 0:00:01
   -------------------------------------- - 13.7/14.3 MB 5.3 MB/s eta 0:00:01
   -------------------------------------- - 13.9/14.3 MB 5.3 MB/s eta 0:00:01
   ---------------------------------------  14.2/14.3 MB 5.3 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 5.3 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 5.3 MB/s eta 0:00:01
   ---------------------------------------- 14.3/14.3 MB 5.0 MB/s eta 0:00:00
Installing collected packages: mysql.connector.python
Successfully installed mysql.connector.python-9.0.0

In [10]:
import mysql.connector
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
Conn = mysql.connector.connect(
    host = 'localhost',
    user='root',
    passwd='Sql@123456789',
    database='eda_practice'
)

In [28]:
query = 'select * from euromart_stores'

df = pd.read_sql(query, Conn)
df.head()

C:\Users\Dell\AppData\Local\Temp\ipykernel_19936\3402696028.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, Conn)

,MyUnknownColumn,Order ID,Order Date,Customer Name,Country,State,City,Region,Segment,Ship Mode,Category,Sub-Category,Product Name,Discount,Sales,Profit,Quantity,Feedback?
0,0,BN-2011-7407039,2011-01-01,Ruby Patel,Sweden,Stockholm,Stockholm,North,Home Office,Economy Plus,Office Supplies,Paper,"Enermax Note Cards, Premium",0.5,45,-26,3,False
1,1,AZ-2011-9050313,2011-01-03,Summer Hayward,United Kingdom,England,Southport,North,Consumer,Economy,Furniture,Bookcases,"Dania Corner Shelving, Traditional",0.0,854,290,7,True
2,2,AZ-2011-6674300,2011-01-04,Devin Huddleston,France,Auvergne-RhÃ´ne-Alpes,Valence,Central,Consumer,Economy,Office Supplies,Art,"Binney & Smith Sketch Pad, Easy-Erase",0.0,140,21,3,True
3,3,BN-2011-2819714,2011-01-04,Mary Parker,United Kingdom,England,Birmingham,North,Corporate,Economy,Office Supplies,Art,"Boston Markers, Easy-Erase",0.5,27,-22,2,True
4,4,BN-2011-2819714,2011-01-04,Mary Parker,United Kingdom,England,Birmingham,North,Corporate,Economy,Office Supplies,Storage,"Eldon Folders, Single Width",0.5,17,-1,2,True

In [29]:
Conn.close() #to close server connection

In [25]:
df.tail()

,Order Date,Customer Name,Country,State,City,Region,Segment,Ship Mode,Category,Sub-Category,Product Name,Discount,Sales,Profit,Quantity,Feedback?
8042,2014-12-31,Jose Gambino,United Kingdom,England,Maidenhead,North,Corporate,Economy,Furniture,Bookcases,"Ikea Stackable Bookrack, Traditional",0.0,245,91,2,True
8043,2014-12-31,Daniel Hamilton,Netherlands,North Brabant,Eindhoven,Central,Home Office,Economy Plus,Office Supplies,Art,"BIC Pencil Sharpener, Fluorescent",0.5,30,-10,2,False
8044,2014-12-31,Daniel Hamilton,Netherlands,North Brabant,Eindhoven,Central,Home Office,Economy Plus,Office Supplies,Binders,"Avery Binder Covers, Recycled",0.5,23,-6,4,True
8045,2014-12-31,Daniel Hamilton,Netherlands,North Brabant,Eindhoven,Central,Home Office,Economy Plus,Technology,Machines,"StarTech Phone, Red",0.5,108,-19,3,False
8046,2014-12-31,Jose Gambino,United Kingdom,England,Maidenhead,North,Corporate,Economy,Technology,Phones,"Motorola Audio Dock, VoIP",0.0,867,251,5,False

In [12]:
df.shape

(8047, 18)

In [13]:
df.columns

Index(['MyUnknownColumn', 'Order ID', 'Order Date', 'Customer Name', 'Country',
       'State', 'City', 'Region', 'Segment', 'Ship Mode', 'Category',
       'Sub-Category', 'Product Name', 'Discount', 'Sales', 'Profit',
       'Quantity', 'Feedback?'],
      dtype='object')

In [17]:
df.info() #since dumped from wizard it automatically deletes null values to keep it use sql command if there are more null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8047 entries, 0 to 8046
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MyUnknownColumn  8047 non-null   int64
 1   Order ID         8047 non-null   object
 2   Order Date       8047 non-null   object
 3   Customer Name    8047 non-null   object
 4   Country          8047 non-null   object
 5   State            8047 non-null   object
 6   City             8047 non-null   object
 7   Region           8047 non-null   object
 8   Segment          8047 non-null   object
 9   Ship Mode        8047 non-null   object
 10  Category         8047 non-null   object
 11  Sub-Category     8047 non-null   object
 12  Product Name     8047 non-null   object
 13  Discount         8047 non-null   float64
 14  Sales            8047 non-null   int64
 15  Profit           8047 non-null   int64
 16  Quantity         8047 non-null   int64
 17  Feedback?        8047 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 1.1+ MB

In [18]:
df.isna().sum()

MyUnknownColumn    0
Order ID           0
Order Date         0
Customer Name      0
Country            0
State              0
City               0
Region             0
Segment            0
Ship Mode          0
Category           0
Sub-Category       0
Product Name       0
Discount           0
Sales              0
Profit             0
Quantity           0
Feedback?          0
dtype: int64

In [19]:
df.duplicated().sum()

np.int64(0)

In [20]:
df.drop(['MyUnknownColumn', 'Order ID'], axis = 1, inplace = True)

In [21]:
df.head()

,Order Date,Customer Name,Country,State,City,Region,Segment,Ship Mode,Category,Sub-Category,Product Name,Discount,Sales,Profit,Quantity,Feedback?
0,2011-01-01,Ruby Patel,Sweden,Stockholm,Stockholm,North,Home Office,Economy Plus,Office Supplies,Paper,"Enermax Note Cards, Premium",0.5,45,-26,3,False
1,2011-01-03,Summer Hayward,United Kingdom,England,Southport,North,Consumer,Economy,Furniture,Bookcases,"Dania Corner Shelving, Traditional",0.0,854,290,7,True
2,2011-01-04,Devin Huddleston,France,Auvergne-RhÃ´ne-Alpes,Valence,Central,Consumer,Economy,Office Supplies,Art,"Binney & Smith Sketch Pad, Easy-Erase",0.0,140,21,3,True
3,2011-01-04,Mary Parker,United Kingdom,England,Birmingham,North,Corporate,Economy,Office Supplies,Art,"Boston Markers, Easy-Erase",0.5,27,-22,2,True
4,2011-01-04,Mary Parker,United Kingdom,England,Birmingham,North,Corporate,Economy,Office Supplies,Storage,"Eldon Folders, Single Width",0.5,17,-1,2,True